@model IEnumerable<cinemas.Models.Entities.Actores>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Perfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/img/@Html.DisplayFor(modelItem => item.Perfil)"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidad)
        </td>
    </tr>
}

</table>
