@model cinemas.Models.Entities.Registro

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            @Html.DisplayFor(modelItem => Model.recibos.cliente), @Html.DisplayFor(modelItem => Model.recibos.correo)
        </div>
        <div class="panel-body">
            <p>@Html.DisplayFor(modelItem => Model.peliculas.Nombre) - @Html.DisplayFor(modelItem => Model.recibos.fechaPelicula) - @Html.DisplayFor(modelItem => Model.recibos.asiento)</p>
            <p>Codigo de Verificacion: @Html.DisplayFor(modelItem => Model.recibos.codigo)</p>
            <p class="text-right"> Fecha de compra: @Html.DisplayFor(modelItem => Model.recibos.fechaNow)</p>
        </div>
    </div>